/.luarc.json
/algpreprint.sty
/beamercolorthemetud.sty
/beamerfontthemetud.sty
/beamerinnerthemetud.sty
/beamerouterthemetud.sty
/beamerthemetud.sty
/DDC_Logo_110x50_4C.eps
/DDC_Logo_110x50_4C.pdf
/DDC_Logo_BB.pdf
/DDC-01.eps
/DDC-01.pdf
/DDC-03.eps
/DDC-03.pdf
/DDC-07.eps
/DDC-07.pdf
/DDC-09.eps
/DDC-09.pdf
/DDC-16.eps
/DDC-18.eps
/DDC-19.eps
/DDC-19.pdf
/DDC-21.eps
/DDC-21.pdf
/DDC-28.eps
/DDC-30.eps
/DDC-graublau.pdf
/DDC-weiss.eps
/DDC-weiss.pdf
/DDC-weissf.eps
/DDC-weissf.pdf
/DDC-weissf2.eps
/logo_blau.eps
/logo_blau.pdf
/logo_weiss.eps
/logo_weiss.pdf
/mathelogo.pdf
/rescalefont.sty
/template.pdf
/TU_Logo_SW.pdf
/tudbeamermacros.sty
/tudcolors.sty
/tudfonts.sty
/tudmathposter.cls
/tudsize34pt.clo
/tudsize36pt.clo
/tudsizeold11pt.clo
/tudsizeold34pt.clo
/tudsizeold36pt.clo
/tud-beamerstyle/*
/tudmathposter/*